.body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('Image/setify_final.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: auto;
}
