@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<br />
<br />
<br />
<h1>Advanced Internet Technologies Project Named "Setify"</h1>

<h2>Concept and Idea</h2>
<p>
    This is a simple music vinyl ordering service or music geek application like myself. <br/> Proceed into "New Release" tab to order a item once you have signed registered and take a look around! <br />
    Once you have purchased this artist and their swag, it is then logged in the database (with a toast notification!) and uses subtraction to find out how many copies is left! <br. />
    <br /> You can proceed into the database to test this. I know I should have displayed it on the page but I was very silly... <br/>

    There will be a area for customers that is stored on the Database along with artist information. <br />
    Below listed in further bullet-points is features under the hood of the application that range from validation to client side application work!
</p>

<ul>
    <li>Bootstrap Environment Integration</li>
    <li>Passing Data to Views</li>
    <li>Razer Syntax</li>
    <li>Partial Views</li>
    <li>Entity Framework (Mapper Functionality)</li>
    <li>Code First Migrations</li>
    <li>Seeding Database</li>
    <li>Eager Loading</li>
    <li>Model Binding</li>
    <li>Validation Techniques</li>
    <li>Refactoring Magic Numbers Examples</li>
    <li>Web API</li>
    <li>JQuery Code</li>
    <li>Ajax Source Code</li>
    <li>Seeding Users and Roles through Migrations</li>
    <li>OAuth (Google Sign In)</li>
    <li>Front-End Dev</li>
    <li>DOM Updates</li>
</ul>

<br />

    In Addition to these features a number of tools were used, to make development easier. <br/> This included "Resharper", "Bootbox" and "typeahead". All these were very handy for imports and the like.

<br />

<p>
    This was a very enjoyable passion project for myself personally! I went deeper and deeper into the rabbit hole of Visual Studio on this one! <br />
    I hope that this is shown in the evidence of the material uploaded and in turn hope you has a great Christmas! <br /> <br />
    Best from x17138744
</p>

<br />

https://setify.azurewebsites.net/