@model SetifyFinal.ViewModels.RandomArtistViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
    This is a example of Razor Syntax that can use not only C but also HTML for displaying messages.
    This code also showcases exceptions in the code for popular and non popular tracks
*@

@{
    var className = Model.Customers.Count > 0 ? "popular!" : null;
}

<h2 class ="@className">@Model.Artist.Name</h2>

@if (Model.Customers.Count == 0)
{
    <p>No one has bought this track before!</p>
}
else
{
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>@customer.Name</li>
        }
    </ul>
}



